{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('book_index_category', { 'slug': category.slug }) }}">{{ category.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
